*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 100px;
}
body{
    font-size:16px;
    color:#7e8793;
    font-family: Arial, Helvetica "微软雅黑", sans-serif;
}
.container{
    max-width: 640px;
    margin: 0 auto;
}
.header{
    text-align: center;
    background: url("../images/headerBg.png") no-repeat center/100%;
    padding-bottom:.3rem;
}
.header > img{
    margin: .4rem;
    width: 65%;
}
.header form{
    width: 90%;
    margin: 0 auto;
    background: #fff;
    line-height: .8rem;
    border-radius: .4rem;
}
.header form input , .header form button{
    background: #fff;
    border:0;
    outline: 0;
}
.header form input{
    font-size: .28rem;
    width: 70%;
}
.header form button{
    width: 1.2rem;
    font-size: .3rem;
    color:#5bd4c7;
}

/* list */
.list{
    padding: .3rem;
}
.list dt{
    margin:.3rem 0;
    display: flex;
    align-items: center;
}
.list dt > img{
    width: 1rem;
    margin-right:.2rem;
}
.list dd{
    display: inline-block;
    padding: .08rem .2rem;
    border-radius: .04rem;
    margin: .1rem .1rem;
    background: #f5f8f9;
}
.list dd a{
    text-decoration: none;
    color:#7e8793;
}
footer{
    padding:.3rem;
    font-size: .2rem;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

